/*========= Start Footer ============*/
.footer{
    background: #333;
    color : #FFF;
    padding: 20px;
    width: 100%;
    bottom: 0;
    left: 0;
} 
/*========= End Footer ============*/ 

/* ===================== Start Posts ===================== */
.posts{
    padding: 50px 20px;
}
.posts .post{
    margin-bottom: 50px;
}
.img-responsive{
    width:100%;
    height: 100%;
}
.post-header{
    border: 4px solid #e1d9bd;
    padding: 40px 70px;
    display: block;
    margin: -18px 0px 35px -85px;
}

.post-header .category>a,
.post-header .category .fa,.post-header .post-tags .fa{
    font-size: 14px;
    color: #b59f5b;
    font-weight: bold;   
}
.post-header .post-title>a{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color:#0f0d0e;
}
.post-header .post-date,
.post-header .post-auther
{
    font-size: 12px;
    color: #b8b8b8;
    margin-right: 15px;
    font-family: 'Open Sans', sans-serif;
}
.post-header .post-auther,.post-header .post-tags>a,
.post-header .post-auther>a,.post-header .post-tags .fa{
    color:#000;
    font-weight: bold;
    font-size: 12px;
}
.post-content p{
    font-size: 15px;
    color: #838383;
    font-family: 'Open Sans', sans-serif;
}
.post-content .more-link{
    color : #000;
    font-weight: bold;
}
.post-comment{
    border-bottom: 4px solid #EEE;
    display: block;
    margin: 15% 0px 0px -85px;
    padding-bottom: 10px;
}
.post-comment .comment>a{
    color: #000;
    font-family: 'Open Sans', sans-serif;
}
.post-comment .share i{
    margin: 0 5px;
}
/* =====================Start Post Author ===================== */
.author{
    padding: 20px;
    border: 4px solid #e1d9bd;
    margin: 0px;
}
.author .author-img{

}
.author .author-info{

}
.author .author-info h4{
    font-family: 'Open Sans';
    color: #b59f5b;
    font-weight: bold;
}
.author .author-info h4 .nickname{
    color: #7c7c7c;
}
.author .author-info .biography{
    font-size: 14px;
    color: #b8b8b8;
    margin-right: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
}

/* ===================== Start Post Pagination ===================== */
.post-pagination{
    position: relative;
    height: 50px;
    margin: 40px 0px 20px;
}
.post-pagination .no-next,
.post-pagination .next>a,
.post-pagination .no-prev,
.post-pagination .prev>a
{
    color: #000;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid #b59f5b;
    border-radius: 20px;
    padding: 5px 10px;
    position: absolute;
    transition: .3s all linear;
}
.post-pagination .next>a:hover,
.post-pagination .prev>a:hover{
    background: #b59f5b;
    color: #FFF;
}
.no-next:hover,
.no-prev:hover{
    color:#CCC;
    cursor: not-allowed;
}
.no-next,.next>a{
    right: 10px;
}
.no-prev,.prev>a{
    left: 10px;
}

/* End Posts */



/* Start Sigle Post */
.single-post .post-edit-link{
}
/* ================= Start Comment ============ */
.comments-count,.comment-reply-title{
    padding: 20px 25px;
    border: 4px solid #e1d9bd;
    border-bottom: 0;
    margin-bottom: 0;
    text-align: center;
    margin-top: 50px;
    color: #b59f5b;
    background: #e1d9bd;
    font-weight: bold;
}
.comments-list,.comment-form{
    padding: 10px 5px;
    border: 4px solid #e1d9bd;
}
.comments-list ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.comments-list > .comment{
    background: #e1d9bd;
    padding: 20px ;
    border-top: 2px solid #b59f5b;
    margin:20px;
    position: relative;
}
.comments-list > .comment > .children > .comment,
.comments-list > .comment > .children > .comment .children{
    background: #e1d9bd;
    padding: 20px ;
    border-top: 2px solid #b59f5b;
    margin: 0 20px;
    position: relative;
    
}
.comments-list .comment-author .fn ,
.comments-list .comment-author .fn a{
    font-weight: bold;
    text-decoration: underline;
    color: #000;
    text-transform: capitalize; 
}
.comments-list .comment-author .says{
    display: none;
}
.comments-list .comment-meta a:first-child{
    position: absolute;
    right: 20px;
    top: 20px;
    color: #838383;
}
.comments-list .comment-meta .comment-edit-link{
    position: absolute;
    right: 20px;
    margin-top: 4.9%;
    color: #b59f5b;
    font-weight: bold;
}
.comments-list .reply a{
    margin-bottom: 20px;
    display: block;
    color: #b59f5b;
    font-weight: bold;
}
/* ================= End Comment ============ */

/* End Sigle Post */

/* Start Aside */
aside{
    float: right;
    border: 1px solid #b59f5b;
    height: 1000px;
}
/* End Aside */