/* ====== Navbar ==== */
.navbar .menu-item a {
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-size: 13px;
  color: #000;
  font-weight: 500;
  transition: all .5s ease-in-out;
}

.navbar .menu-item:hover a, .navbar .menu-item:focus a, .navbar .menu-item.active a {
  background: transparent;
  color: #b59f5b;
  border-bottom: 2px solid #b59f5b;
}

.theme-title {
  text-align: center;
  margin: 60px 0px;
}

.theme-title a {
  font-family: 'Josefin Sans';
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  overflow: hidden;
}

.theme-title a:after {
  content: '';
  background: #e1d9bd;
  width: 6%;
  height: 3px;
  display: block;
  margin: 15px auto;
}

/* ====== Main Page ==== */
.main-page .post-pagination {
  font-family: 'Open Sans', sans-serif;
}

.main-page .post-pagination .page-numbers {
  color: #FFF;
  background: #e1d9bd;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all .3s ease-in-out;
}

.main-page .post-pagination .current, .main-page .post-pagination .page-numbers:hover {
  color: #FFF;
  background: #b59f5b;
  font-weight: bold;
  border: 2px solid #b59f5b;
  border-radius: 5px;
  padding: 5px 10px;
}

/* ====== Author Page ==== */
.author-page .author-page-title {
  padding: 20px 25px;
  text-align: center;
  color: #b59f5b;
  background: #e1d9bd;
  font-weight: bold;
  margin: 30px 0px;
  border: 4px solid #b59f5b;
}

.author-page .author {
  padding: 20px;
  box-shadow: 0px 0px 7px #b59f5b;
  margin: 0px 0px 30px;
}

.author-page .author .author-info li {
  font-weight: bold;
  font-family: 'Open Sans';
  color: #726848;
  font-size: 18px;
}

.author-page .author .author-info .biography {
  font-size: 14px;
  color: #b8b8b8;
  margin-right: 15px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
}

.author-page .author-stats {
  margin-bottom: 30px;
}

.author-page .author-stats .stat {
  height: 180px;
  box-shadow: 0px 0px 7px #b59f5b;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-family: 'Open Sans';
  color: #695c33;
  font-size: 16px;
  margin-bottom: 20px;
}

.author-page .author-stats .stat span {
  display: block;
  font-size: 40px;
  margin: 20px 0px;
}

.author-page .author-posts .author-posts-title {
  padding: 20px 25px;
  text-align: center;
  color: #b59f5b;
  background: #e1d9bd;
  font-weight: bold;
  margin: 30px 0px;
  box-shadow: 0px 0px 7px #b59f5b;
}

.author-page .author-posts .post {
  box-shadow: 0px 0px 7px #b59f5b;
  margin: 30px 0px;
  padding: 20px;
}

.author-page .author-posts .post img {
  width: 260px;
}

.author-page .author-posts .post .post-title > a {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: 'Josefin Sans', sans-serif;
  color: #0f0d0e;
}

.author-page .author-posts .post .post-date, .author-page .author-posts .post .post-comment1 > a {
  font-size: 12px;
  color: #b8b8b8;
  margin-right: 15px;
  font-family: 'Open Sans', sans-serif;
}

.author-page .author-posts .post .post-date .fa, .author-page .author-posts .post .post-comment1 .fa {
  color: #b8b8b8;
  margin-right: 5px;
  font-size: 14px;
}

.author-page .author-posts .post .post-content {
  padding: 10px 0px;
}

.author-page .author-posts .post .post-content p {
  font-size: 14px;
  color: #838383;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0px;
  line-height: 1.5;
}

.author-page .author-comments .author-comments-title {
  padding: 20px 25px;
  text-align: center;
  color: #b59f5b;
  background: #e1d9bd;
  font-weight: bold;
  margin: 30px 0px;
  box-shadow: 0px 0px 7px #b59f5b;
}

.author-page .author-comments .comment {
  box-shadow: 0px 0px 7px #b59f5b;
  margin: 30px 0px;
  padding: 20px;
}

.author-page .author-comments .post-title > a {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: 'Josefin Sans', sans-serif;
  color: #0f0d0e;
}

.author-page .author-comments .comment-date {
  font-size: 12px;
  color: #b8b8b8;
  margin-right: 15px;
  font-family: 'Open Sans', sans-serif;
}

.author-page .author-comments .comment-date .fa {
  color: #b8b8b8;
  margin-right: 5px;
  font-size: 14px;
}

.author-page .author-comments .comment-content {
  font-size: 14px;
  color: #7c7a7a;
  margin: 10px 0px;
  font-family: 'Open Sans', sans-serif;
}

/* ====== sidebar Page ==== */
.sidebar {
  padding: 75px 0px 20px;
}

.sidebar .about-me {
  border: 4px solid #e1d9bd;
  padding: 5px 10px;
}

.sidebar .about-me .user-img {
  display: block;
  margin: -75px auto 25px;
  width: 65%;
}

.sidebar .about-me .title {
  font-family: 'Josefin Sans';
  font-size: 14px;
  font-weight: bold;
}

.sidebar .about-me .text {
  font-family: 'Open Sans';
  font-size: 15px;
  color: #807379;
  width: 80%;
  margin: auto;
  text-align: center;
}

.sidebar .about-me .social .follow-title {
  color: #b59f5b;
  font-family: 'Mrs Sheppards', cursive;
  font-size: 24px;
  display: block;
  margin: 10px 0px;
}

.sidebar .about-me .social .links {
  margin: 20px auto;
  text-align: center;
}

.sidebar .widget {
  margin: 30px 0px;
}

.sidebar .widget .widget-title {
  font-family: 'Josefin Sans';
  font-weight: bold;
  font-size: 14px;
  color: #0f0d0e;
  position: relative;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
}

.sidebar .widget .widget-title:after {
  content: '';
  background: #e1d9bd;
  width: 20%;
  height: 2px;
  display: inline-block;
  margin: 7px 40%;
}

.sidebar .widget ul {
  list-style: none;
  padding: 0;
}

.sidebar .widget ul .cat-item {
  margin: 10px 0;
  border-bottom: 1px solid #eeeeee;
  padding: 0px 0px 10px;
  color: #b59f5b;
  font-family: 'Raleway';
  font-weight: bold;
}

.sidebar .widget ul .cat-item a {
  font-size: 14px;
  font-family: 'Open Sans';
  color: #000;
  margin: 5px 0;
  font-weight: 500;
  padding: 0px 10px 0px 0px;
}

.sidebar .widget .recent_posts li {
  padding: 10px 0px;
}

.sidebar .widget .recent_posts li .recent-post-title {
  font-family: 'Josefin Sans';
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

.sidebar .widget .recent_posts li .recent-post-date {
  display: block;
  font-size: 12px;
  font-family: 'Open Sans';
  color: #838383;
  margin: 5px 0px;
}

.sidebar .widget .widget-content form input {
  width: 100%;
  display: block;
  margin: 10px 0px;
  padding: 10px 15px;
  border: 0;
}

.sidebar .widget .widget-content form input[type="email"] {
  background: #f4f7f6;
  font-size: 13px;
  font-family: 'Open Sans';
}

.sidebar .widget .widget-content form input[type="submit"] {
  background: #b59f5b;
  color: #FFF;
  font-size: 14px;
  font-family: 'Raleway';
  font-weight: bold;
  text-transform: uppercase;
}

.sidebar .widget .widget-content .post-img {
  margin: 5px -10px;
  background: #fdf9f2;
  cursor: pointer;
}

.sidebar .widget .searchform .screen-reader-text {
  display: none;
}

.sidebar .widget .searchform #s {
  float: left;
  width: 83%;
  height: 48px;
  padding: 20px;
  background: #f4f7f6;
  border: 0;
  margin: 0;
  font-size: 13px;
  font-family: 'Open Sans';
}

.sidebar .widget .searchform #s:focus {
  outline: 0;
}

.sidebar .widget .searchform #searchsubmit {
  background: #b59f5b;
  border: 0;
  color: #FFF;
  width: 17%;
  height: 48px;
}
/*# sourceMappingURL=style.css.map */